.sidebar {
    width: 219px;
    padding-left: 24px;
    padding-top: 7px;
    border-right: 1px solid rgba(132, 131, 131, 0.367);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

/*Instagram Logo*/
.instagram-logo {
    font-family: Satisfy, Arial;
    font-weight: 600;
    font-size: 27px;
}

/*Make home word bold*/
.home-word {
    font-weight: 500;
}

/*Flexbox for icon and word*/
.icon-n-word {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon-n-word p {
    margin-left: 20px;
}

.nav-icon {
    height: 25px;
}

.profile-pic {
    border-radius: 12px;
}

.top-nav {
    margin-top: 20px;
}

.middle-nav {
    margin-top: 37px;
}

.bottom-nav {
    margin-top: 110px;
}

@media (max-width:1600px) {
    .top-nav img {
        display: none;
    }
}

@media (max-width:1250px) {
    .sidebar {
        width: 75px;
        padding-left: 0;
    }

    main {
        padding-left: 75px;
    }

    .icon-n-word {
        margin-bottom: 32px;
    }

    .top-nav {
        margin-top: 20px;
    }

    .middle-nav {
        margin-top: 45px;
    }

    .bottom-nav {
        margin-top: 125px;
    }

    .top-nav img {
        display: block;
    }

    .sidebar p {
        display: none;
    }

    .center img {
        margin: 4px auto;
    }
}

@media (max-width:1000px) {
    .right-side {
        display: none;
    }
}

@media (max-width:765px) {
    .sidebar {
        display: none;
    }

    main {
        padding: 0;
    }

    .right-side {
        display: none;
    }
}