.top-bar {
    background-color: white;
    border-bottom: 1px solid rgba(132, 131, 131, 0.367);
    position: fixed;
    display: none;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.top-bar-1 {
    display: flex;
    align-items: center;
}

.top-bar-1 p {
    margin: 0;
    margin-left: 20px;
    margin-right: 8px;
}

.top-bar-1>img {
    height: 15px;
}

.top-bar-2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar-2>img {
    height: 23px;
    padding: 20px;
}

.search-bar {
    height: 36px;
    width: 260px;
    border: none;
    padding-left: 15px;
    border-radius: 10px;
    background-color: rgba(220, 219, 219, 0.537);
}

@media (max-width:764px) {
    .top-bar {
        display: flex;
        align-items: center;
    }

    main {
        padding-top: 60px;
    }
}

@media (max-width: 385px) {
    .search-bar {
        width: 60%;
    }

    .top-bar {
        width: 100;
    }
}